* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    width:100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: #e8d9c4;
    overflow: hidden;
}

#bg {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    height: 422px;
    overflow: hidden;
}
#bg img#scenario {
    position: relative;
    width: 100%;
    height: 100%;
}

#window {
    position: absolute;
    top: 30px;
    left: 472px;
    width: 254px;
    height: 137px;
    overflow: hidden;
}
#window #img {
    position: absolute;
    width: 411px;
    left:50%;
    margin-left: -205px;
    top:-137px;
}
#window #img img {
    position: relative;
    width: 100%;
}

#table {
    position: absolute;
    bottom: 0px;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 352px;
    overflow: hidden;
}
#table img {
    position: relative;
    width: 100%;
    height: 100%;
}

#computer{  
    position: absolute;
    bottom: 188px;
    left: 50%;
    margin-left: -65px;
    width: 130px;
    height: 100px;
}
#computer img {
    position: relative;
    width: 100%;
    height: 100%;
}

#progressbar {    
    background-color: rgba(0, 0, 0, 0.13);
    width: 98%
}

#inbox {
    position: absolute;
    display: block;
    padding: 0px;
    margin: 0px;
    /*border: 1px solid #000;*/
    bottom: 214px;
    left: 136px;
    width: 69px;
    min-height: 10px;
    overflow:hidden;
}
#done {
    position: absolute;
    display: block;
    padding: 0px;
    margin: 0px;
    /*border: 1px solid #000;*/
    bottom: 214px;
    right: 172px;
    width: 69px;
    min-height: 10px;
    overflow:hidden;
}
.job {
    position: relative;
    margin:1px 0px;
    padding:0px;
    width: 69px;
    height: 40px;
    clear:both;
    float: none;
    cursor:pointer;
    overflow:hidden;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.job img {
    width: 100%;
    height: 100%;
}
.job1 {
    background-color: #4285f4;
    height: 18px !important;
}
.job2 {
    background-color: #f25829;
    height: 24px !important;
}
.job3 {
    background-color: #ff6464;
    height: 32px !important;
}
.job4 {
    background-color: #f7c920;
    height: 40px !important;
}
.jobDone {
    background-color: #ffffff;
    height: 18px !important;
}
.jobPowerup {
    background-color: #14e450;
    height: 18px !important;
}

#title {
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: #000000;
}
#title img {
    position: absolute;
    width: 750px;
    height: 422px;
    left:50%;
    top: 50%;
    margin-left:-375px;
    margin-top: -211px;
}

#fired {
    position:absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: #000000;
}

#fired img, #points, #timer{
    position: absolute;
}
#fired img {
    top: 50%;
    left:50%;
    width: 750px;
    height: 422px;
    margin-left:-375px;
    margin-top: -211px;
}
#points {
    text-align: center;
    top: 80%;
    left:40%;
    width: 150px;
    color: white;
    font-weight: bold;
    font-size: 22px
}
#timer {
    text-align: center
}
.clock {
    float: left;
    font-size: 80px;
    font-family: Courier,sans-serif;
    color: #000000;
}